* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
/* Color for the body = #20262E */
/* highlight color = #chocolate */
body {
    background-color: #0d1117;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: transparent;
    position: relative;
}
.logo {
    margin-left: 5%;
}
.logo img {
    height: 50px;
    width:90px;
}
.search {
    width: 270px;
    height: 25px;
    display: flex;
}
.search input {   
    width: 80%;
    height: 28px;
    background-color: white;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    text-indent: 11px;
    font-size: 14px;
}
.search button {
   height: 28px;
   width: 16%;
   background-color: #F99417 ;
   outline: none; 
   border: none;
   border-left: solid 0.3px black;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   font-size: 17px;
   text-align: center;
   color: black;
}
.search input::placeholder {
    color: grey;
    font-style: normal;
    font-style: italic;
    font-size: 14px;
}
.menubar-icons{
    display: flex;
    margin-right: 5%;
}
.menubar-icons li {
    padding: 18px 0 18px 30px;
    
}
.menubar-icons li a {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.sec-1{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
}

.side-nav {
    background-color:#161b22;
    /* border-right: solid 0.5px #F99417; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;    
}
.main-1 {
    background-color: #0d1117;
}
.head-back-img {
    background-image: url("./img/img4.jpg");
    margin-left: 5.5%;
    width: 90%;
    height: 60vh;
    top: 0;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel {
    display: flex;
    overflow: hidden;
  }
  
  img {
    
    width: 90%;
    height: 60vh;
    object-fit: cover;
    top: 0;
    margin-left: 5.5%;
  }
.body-text {
    position: absolute;
    height: 25%;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 40%;
    left: 27%;
}
.sec-2 {
    height: 100vh;
    background-color: greenyellow;
}
.small-slide-cont {
    background-color: transparent;
    width: 90%;
    height: 30vh;
    margin-left: 5.5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 90%;
    justify-content: space-around;
}
.small-slider-1 {
    background-image: url("./img/img1.jpg");
    position: relative;
    margin-top: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.small-slider-2 {
    background-image: url("./img/img2.jpg");
    position: relative;
    margin-top: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.small-slider-3 {
    background-image: url("./img/img3.jpg");
    position: relative;
    margin-top: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.small-slider-1:hover {
    opacity: 0.5;
}
.profilePic {
    text-align: center;
}
.profilePic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10%;
    border: solid 2px chocolate ;
}
.profilePic h3 {
    color: chocolate;
}
.browse-btn {
    margin-left: 4%;
    margin-top: 15%;;
    color: #F99417;
}
.menu-1{
    margin: 7% 5% 10% 4%;
}
.menu-1 li{
    margin-top: 20px;
    /* border: solid 0.5px #F99417; */
    border-left: solid 3px #F99417;
    height: 42px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border-radius: 8px; */
    transition: background-color 0.5s;
    transition-timing-function: ease-out;
    
}

.menu-1 li a {
   padding-left: 5px;
   color: whitesmoke;
   font-size: 14px;
}
.menu-1 li:hover {
    background-color: #e28008;
    color: whitesmoke;
}


.menu-2{
    margin: 10% 5% 0 4%;
}
.menu-2 li{
    margin-top: 20px;
    border-left: solid 3px #F99417;
    /* border-bottom: solid 0.5px #F99417; */
    height: 42px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border-radius: 8px; */
    transition: background-color 0.5s;
    transition-timing-function: ease-out;

}
.menu-2 li:hover {
    background-color: #e28008;
    color: whitesmoke;
}

.menu-2 li a {
    margin-left: 10px;
    color: whitesmoke;
    font-size: 14px;
    
}
.nav-hr-1 {
    width: 80%;
    background-color: gray;
    height: 0.5px;
    margin-left: 10%;
    border: none;
    background-color: black;
}
.nav-hr-2 {
    width: 80%;
    background-color: gray;
    height: 0.5px;
    margin-left: 10%;
    border: none;
    margin-top: 20px;
    background-color: black;
}
.nav-hr-3 {
    width: 90%;
    background-color: gray;
    height: 0.5px;
    margin-left: 5%;
    border: none;
    background-color: black;
}
.side-nav-settings{
    margin: 35% 5% 0 4%;
}
.side-nav-settings li{
    /* margin-top: 5%; */
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    /* border: solid 0.5px #F99417; */
    height: 42px;
    border-radius: 8px;
    transition: background-color 0.5s;
    transition-timing-function: ease-out;
}
.side-nav-settings li:hover {
    background-color:  #e28008;
    color: whitesmoke;
}
.side-nav-settings li a {
    padding-left: 8px;
    color: whitesmoke;
    font-size: 14px;
}


/*------------------ICONS STYLE-----------------------*/
.fa-comments {
    font-size: 20px;
    color: whitesmoke;
}
.fa-bell {
    font-size: 22px;
    color: whitesmoke#e28008;
}
.fa-calendar-days{
    font-size: 20px;
    color: lightgreen;
    padding-left: 10px;
}
.fa-heart-circle-plus {
    font-size: 20px;
    color: lightcoral;
    padding-left: 10px;
}
.fa-chart-line {
    font-size: 20px;
    color:royalblue;
    padding-left: 10px;
}
.fa-masks-theater {
    font-size: 20px;
    color: lightsalmon;
    padding-left: 10px;
}
.fa-gear {
    font-size: 20px;
    color: #e28008;
    padding-left: 10px;
}
.fa-right-from-bracket {
    font-size: 20px;
    color: #e28008;
    padding-left: 10px;
}